<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jumblewords"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartPage"
            android:label="@string/title_activity_start_page" >
        </activity>
        <activity
            android:name=".GamePlay"
            android:label="@string/title_activity_game_play" >
        </activity>
        <activity android:name=".SettingPage" >
        </activity>
        <activity
            android:name=".UserSelect"
            android:label="@string/title_activity_user_select" >
        </activity>
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories" >
        </activity>
        <activity
            android:name=".LevelPage"
            android:label="@string/title_activity_level_page" >
        </activity>
        <activity
            android:name=".EndScorePage"
            android:label="@string/title_activity_end_score_page" >
        </activity>
    </application>

</manifest>
